<div>
    <h2 id="page-heading">
        <span jhiTranslate="coopcycleApp.anOrder.home.title">An Orders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-an-order" [routerLink]="['/an-order/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="coopcycleApp.anOrder.home.createLabel">
            Create a new An Order
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="anOrders?.length === 0">
        <span jhiTranslate="coopcycleApp.anOrder.home.notFound">No anOrders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="anOrders?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.anOrder.orderId">Order Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let anOrder of anOrders ;trackBy: trackId">
                    <td><a [routerLink]="['/an-order', anOrder.id, 'view']">{{ anOrder.id }}</a></td>
                    <td>{{ anOrder.orderId }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/an-order', anOrder.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/an-order', anOrder.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(anOrder)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
