<div>
    <h2 id="page-heading">
        <span jhiTranslate="coopcycleApp.anUser.home.title">An Users</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-an-user" [routerLink]="['/an-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="coopcycleApp.anUser.home.createLabel">
            Create a new An User
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="anUsers?.length === 0">
        <span jhiTranslate="coopcycleApp.anUser.home.notFound">No anUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="anUsers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.anUser.userId">User Id</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.anUser.login">Login</span></th>
                    <th scope="col" ><span jhiTranslate="coopcycleApp.anUser.password">Password</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let anUser of anUsers ;trackBy: trackId">
                    <td><a [routerLink]="['/an-user', anUser.id, 'view']">{{ anUser.id }}</a></td>
                    <td>{{ anUser.userId }}</td>
                    <td>{{ anUser.login }}</td>
                    <td>{{ anUser.password }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/an-user', anUser.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/an-user', anUser.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(anUser)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
