<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="anUser">
            <h2><span jhiTranslate="coopcycleApp.anUser.detail.title">An User</span> {{ anUser.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coopcycleApp.anUser.userId">User Id</span></dt>
                <dd>
                    <span>{{ anUser.userId }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.anUser.login">Login</span></dt>
                <dd>
                    <span>{{ anUser.login }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.anUser.password">Password</span></dt>
                <dd>
                    <span>{{ anUser.password }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/an-user', anUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
